<app-navbar></app-navbar>

<section>
  <div class="container">
    <div class="row w-50 m-auto">
      <div class="d-flex flex-wrap align-items-center">
        <input class="col-md-12" type="text" placeholder="userName">
        <input class="col-md-12" type="number" placeholder="userAge">
        <input class="col-md-12" type="email" placeholder="userEmail">
        <input class="col-md-12" type="password" placeholder="userPassword">
        <button class="btn">send Message</button>
      </div>

    </div>
  </div>
</section>

<app-footer></app-footer>
