<nav class="navbar navbar-expand-lg p-4 text-uppercase fw-bold text-white">
  <div class="container">
    <a class="navbar-brand text-white fs-2" routerLink="/home">start framework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link text-white" routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">about</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" routerLink="/portfolio" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">portfolio</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" routerLink="/gallery" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">gallery</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" routerLink="/contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
