<footer>
  <div class="up py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 py-4 px-5">
          <div class="inner text-white text-center">
            <h2 class="text-uppercase fs-3 fw-semibold">location</h2>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-md-4 py-4 px-5">
          <div class="inner text-white text-center ">
            <h2 class="text-uppercase fs-3 fw-semibold">around the web</h2>
            <ul class="list-unstyled d-flex justify-content-center pt-3">
              <li class="mx-1"><i class="fa-brands fa-facebook"></i></li>
              <li class="mx-1"><i class="fa-brands fa-twitter"></i></li>
              <li class="mx-1"><i class="fa-brands fa-linkedin-in"></i></li>
              <li class="mx-1"><i class="fa-solid fa-globe"></i></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 py-4 px-5">
          <div class="inner text-white text-center">
            <h2 class="text-uppercase fs-3 fw-semibold">about freelancer</h2>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="down">
    <p class="text-white text-center p-4">Copyright © Your Website 2021</p>
  </div>
</footer>
